<h1>入力画面</h1>
<%= form_tag("/menu/submit") do %>
    <p>メニュー名</p>
    <input name="name" value="<%= @menu.name %>">
    <input type="submit" value="決定">

    <p>カテゴリ名: <%= @category %></p>

    <!-- 生のjsonを表示-->
    <p>result: <%= @result%></p>
<% end %>